*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
     background-color: #efeff2;
     display: flex;
     justify-content: center;
     align-items: center;
}
form{
    width: 400px;
    box-shadow: 4px 4px 30px rgba(0, 0,0,0.3);
    border-radius: 12px;
    overflow: hidden;
    background-color:#352f2f;
    margin: 10px;
}
form input{
    height: 50px;
    font-size: 2rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
    width: 90%;
}
.numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 0;
}
.numbers input{
    height: 100%;
}